<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="1">
    <test name="My first Test">
        <classes>
            <class name="org.prog.MyFirstTest"/>
        </classes>
    </test>
    <test name="My second Test">
        <classes>
            <class name="org.prog.MySecondTest"/>
            <class name="org.prog.MyThirdTest"/>
        </classes>
    </test>
</suite>